# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editor Files
.idea/
.vscode/
*.nbworkspace
nbproject/private/

# Firebase & Secret Credentials
serviceAccountKey.json
*firebase-adminsdk*.json

# Python & Environment
__pycache__/
*.pyc
.env

